@media (max-width:1440px){
    .container{
        grid-template-columns: auto auto 200px;
        grid-template-rows: 200px auto;
        grid-template-areas: "logo logo socials "
        "image container socials";
    }
    .illustration-mockups{
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px;
    }
    .container-texts{
        text-align: center;
        margin:  0 20px;
    }
    .socials{
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:1024px){
    body{
        background: url(../images/bg-mobile.svg) var(--primary) no-repeat;
        background-size: 100vw;
    }
    .container{
        grid-template-columns: 100%;
        grid-template-rows:repeat(4, auto);
        grid-template-areas:
        "logo"
        "image"
        "container"
        "socials";
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .illustration-mockups img{
        width: 80%;
    }
    .container-texts{
        align-items: center;
        text-align: center;
        margin: 60px;
    }
    .socials{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }
}
@media (max-width:414px){
    body{
        background-size: contain;
    }
    .logo{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px;
    }
    .logo img{
        width: 150px;
    }
    .container-texts .title-container{
        font-size: 2.2rem;
    }
    .container-texts .text-container{
        font-size: 1.4rem;
    }
    .btn{
        font-size: 1.6rem;
    }
}