:root{
    font-size: 62.5%;
}
body{
    background: url(../images/bg-desktop.svg) var(--primary) no-repeat;
    background-size: auto 100vh;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns:minmax(709px, 1100px)  1fr;
    grid-template-rows: 200px auto 1fr;
    grid-template-areas: 
    "logo ."
    "image container"
    ". socials";
    font-family: 'Poppins', sans-serif;
}
.logo{
    grid-area: logo;
    padding: 50px 200px;
}
.illustration-mockups{
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-texts{
    grid-area: container;
    display: flex;
    flex-direction: column;
    margin: 0 200px 0 0px;
    color: white;
    gap: 20px;
}
.container-texts .title-container{
    font-size: 5.0rem;
}
.container-texts .text-container{
    font-family: 'open sans';
    font-size:2.1rem;
    margin-bottom: 30px;
}
.btn{
    color: var(--primary);
    background-color: white;
    padding: 15px 60px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    font-size: 1.6rem;
}
.btn:hover{
    color: #ffffff;
    background-color: var(--secundary);
}
.socials{
    grid-area: socials;
    display: flex;
    justify-content:flex-end ;
    align-items: flex-end;
    margin: 50px 190px;
    gap: 50px;
    font-size: 2.5rem;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px #ffffff  solid;
}
a{
    color: #ffffff;
}
.social-icon:hover{
    color: #f552c6;
    border: 2px #f552c6 solid;
}
